{% extends 'base.html.twig' %}

{% block body %}
    <h1>Création d'une nouvelle catégorie</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" value="Create" class="btn btn-default">Créer la nouvelle catégorie</button>
    {{ form_end(form) }}

    <br>

    <a href="{{ path('cms_category_index') }}"><button>Revenir à la liste des catégories</button></a>

{% endblock %}
