{% extends '::base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row col-md-8 col-md-offset-2" id="apropos">
            <h2 class="text-center">A PROPOS DE Jean Forteroche</h2>
            <br>
            <img src="{{ asset('img/writer.png') }}" alt="portrait" class="img-thumbnail img-responsive col-md-5" id="portrait">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam asperiores assumenda cum distinctio, ea exercitationem, expedita illum ipsa libero, minus obcaecati possimus quae similique tenetur unde ut voluptatem. Quam, voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet commodi cupiditate deleniti dicta dolorum ea earum, eos fugiat laboriosam magni neque reiciendis rem, repellat, repellendus sit soluta totam vitae.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequatur cum ea eaque earum enim, ex expedita facere non omnis pariatur quam qui quia quidem sequi sit sunt velit voluptatum?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi asperiores assumenda autem cum debitis distinctio ea est ex exercitationem ipsa iste laudantium minus, mollitia nisi provident, quas saepe similique soluta.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquam aperiam at commodi debitis, eveniet fuga illo minus natus perferendis provident quae quidem reprehenderit sapiente sint unde veniam, veritatis, voluptatum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aut consequuntur cum delectus doloremque eius esse eum illum laboriosam, libero maiores maxime molestias necessitatibus quae, reiciendis, repudiandae tempore voluptatem. Odit.</p>
        </div>
    </div>
{% endblock %}