{% extends "::base.html.twig" %}

{% block body %}
 {% for page in pages %}
     <div class="page">
         <h2>{{ page.title }}</h2>
         <p>{{ page.content | slice(0,500) | striptags}}...<br><a href="{{ path("cms_page_display", { id: page.id }) }}"> read more</a></p>
     </div>
 {% endfor %}
{% endblock %}