body {
    background-color: #3C465C;
    color: #fff;
    font-family: 'Titillium Web', cursive;
    font-size: medium;
}

h1, h2 {
    color: #78FFCD;
}

#typewriter {
    margin: 0 auto;
}

input, select {
    color: #000;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #FFD14B;
}

a:hover {
    color: #E7E7E5;
}

button {
    background-color: #466E82;
}
/* #################################
            Login
################################# */
#username, #password {
    color: #000;
}

.identification {
    float: right;
    margin-left: 0.5em;
}


/* #################################
            Comments
################################# */
.list-group {
    color: #000;
}

.comment-info {
    background-color: #3C465C;
    color: #fff;
    padding: 0.2em;
    border-radius: 0.4em;
}

.glyphicon {
    float: right;
    padding-right: 1em;
}

.glyphicon-flag:hover {
    color: #d2241d;
}

.glyphicon-comment:hover {
    color: #2aabd2;
}

.response {
    margin-left: 1em;
}

/* #################################
            A Propos
################################# */
#portrait {
    margin-right: 0.8em;
}

#apropos {
    margin-bottom: 0.4em;
}


/* #################################
            Footer
################################# */
footer {
    margin-top: 0.5em;
}