{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row col-md-8 col-md-offset-2">
            <h1>Comment creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <br>
            <button type="submit" value="Create" class="btn">Poster</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
