<div class="container">
    <div class="row col-md-8 col-md-offset-2 modal-body dialog">
        <h1>Répondre au commentaire</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" value="Create" class="btn">Poster</button>
        {{ form_end(form) }}
    </div>
</div>